{{>adminhead}}
<div class="wrapper">
 <div id="placeholder" class="js-sidebar"></div>
    <aside id="sidebar" class="js-sidebar">
        <!-- Content For Sidebar -->
        <div class="h-100">
            <div class="sidebar-logo">
                <a href="#">Assam Gis Explorer</a>
            </div>
            <ul class="sidebar-nav">
                {{!-- <li class="sidebar-header">
                    Admin Elements
                </li> --}}
                <hr>

                <li class="sidebar-item">
                    <a href="/admin/home" class="sidebar-link">
                        <span class="material-symbols-outlined">home</span>
                        Home
                    </a>
                </li>
                {{!-- <div class="hr"></div> --}}

                <li class="sidebar-item">
                    <a href="/admin/requests" class="sidebar-link">
                        <span class="material-symbols-outlined">data_table</span> Requests
                    </a>
                </li>
                {{!-- <div class="hr"></div> --}}
                <li class="sidebar-item">
                    <a href="/admin/isolated" class="sidebar-link">
                        <span class="material-symbols-outlined">data_info_alert</span> Isolated Requests
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="/admin/privilege" class="sidebar-link">
                        <span class="material-symbols-outlined">admin_panel_settings</span> Manage privilege
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/admin/search" class="sidebar-link">
                        <span class="material-symbols-outlined">manage_search</span> Search User
                    </a>
                </li>
                {{!-- <div class="hr"></div> --}}

                <li class="sidebar-item">
                    <a href="/admin/upload" class="sidebar-link">
                        <span class="material-symbols-outlined">cloud_upload</span> Uploads
                    </a>
                </li>
                {{!-- <div class="hr"></div> --}}

                <li class="sidebar-item">
                    <a href="/admin/catalog" class="sidebar-link">
                        <span class="material-symbols-outlined">grid_view</span> Add To Catalog
                    </a>
                </li>
                {{!-- <div class="hr"></div> --}}


                <li class="sidebar-item">
                    <a href="/admin/manage" class="sidebar-link">
                        <span class="material-symbols-outlined">bookmark_manager</span>
                        Manage catalog
                    </a>
                </li>
                {{!-- <div class="hr"></div> --}}

                <li class="sidebar-item">
                    <a href="/admin/delete" class="sidebar-link">
                        <span class="material-symbols-outlined">delete</span>
                        Delete Parmanent
                    </a>
                </li>

                <li class="sidebar-item active">
                    <a href="/admin/Queries" class="sidebar-link">
                        <span class="material-symbols-outlined">quiz</span>
                        Queries
                    </a>
                </li>
                {{!-- <div class="hr"></div> --}}


                <li class="sidebar-item" id="adminLogout">
                    <a class="sidebar-link">
                        <span class="material-symbols-outlined">logout</span> Logout
                    </a>
                </li>
                <div class="hr"></div>




            </ul>
        </div>
    </aside>
        <div class="main">
        <nav class="navbar navbar-expand px-3 border-bottom">
            <button class="btn" id="sidebar-toggle" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse navbar">
                <div class="">
                    <h4 class="mt-2">Admin Dashboard</h4>
                </div>
            </div>
        </nav>
        <main class=" content px-3 py-2 bg-adminbg">
            <div class="container-fluid p-4">

                <!-- Table Element -->
                <form action="#" method="post" class="">
                                            {{#if queries.length}}

                    {{#each queries}}
                    {{!-- <div class="display-6"> --}}
                        <h6 class="">
                            Query No:- {{this.queryid}}
                        </h6>
                        {{!--
                    </div> --}}
                    <div class="card p-4 request-text rounded bg-tablebg" style="margin-bottom: 20px;">
                        <div class="row  ">
                            <div class="col-md-6 mb-2">
                                <p class="card-text">Name : {{this.full_name}}</p>
                            </div>
                            <div class="col-md-6 mb-2">
                                <p class="card-text">Email : {{this.email}}</p>
                            </div>

                        </div>

                        <div class="row ">
                            <div class="col-md-6 mb-2">
                                <p class="card-text">Mobile : {{this.mobile}}</p>
                            </div>
                            <div class="col-md-6 mb-2">
                                <p class="card-text">Occupation : {{this.occupation}}</p>
                            </div>

                        </div>
                         <div class="row ">
                            <div class="col-md-6 mb-2">
                                <p class="card-text">Date : {{this.querydate}}</p>
                            </div>
                            {{!-- <div class="col-md-6 mb-2">
                                <p class="card-text">Occupation : {{this.occupation}}</p>
                            </div> --}}

                        </div>


                        <div class="row mt-1">
                            <div class="col-md-6">
                                <div class="form-group first">
                                    <p class="card-text">Subject :</p>
                                    <div class="container overflow-auto rounded border border-primary">
                                        <p class="card-text m-2" style="height: 55px;">{{this.reason}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group last mb-1">

                                    <p class="card-text">Message :</p>
                                    <div class="container overflow-auto rounded border border-primary">
                                        <p class="card-text m-2" style="height: 55px;">{{this.message}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <div class="form-group first">
                                    <p class="card-text">Send Email To:- {{this.email}} <span
                                            class="text-danger">[Optional]</span> </p>
                                    {{!-- <input type="text" class="form-control" value="{{this.reason}}"
                                        style="height: 100px;" id="reason"> --}}
                                    <textarea class="form-control" style="height: 70px;" id="reply-{{@index}}" value="koi"></textarea>
                                </div>
                            </div>
                            

                        </div>
                            <div class="row mt-3">
                              <div class="col-md-6">
                                <div class="form-group last mb-1">
                                    {{!-- <input type="submit" value="Ignor" class="btn px-5 btn-primary mt-2">
                                    <input type="submit" value="Send Email" class="btn px-5 btn-primary mt-2"> --}}


                                    <input type="button" data-id="{{this.queryid}}" value="Ignor" class="btn px-4 btn-primary mt-2"
                                    data-action="ignor" data-email="{{this.email}}" data-reply="reply-{{@index}}">

                                    <input type="button" data-id="{{this.queryid}}" value="Send Email" class="btn px-4 btn-primary mt-2"
                                    data-action="send" data-email="{{this.email}}"  data-reply="reply-{{@index}}">
                                </div>
                            </div>
                          </div>

                    </div>

                    <hr>
                    {{/each}}
                    {{else}}
                            <h1 class="display-7">There is no Queries</h1>

                            {{/if}}

                    

                </form>

            </div>
        </main>


    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const actionButtons = document.querySelectorAll('.btn-primary');



        actionButtons.forEach(button => {
            button.addEventListener('click', async (event) => {
                const action = event.target.getAttribute('data-action');
                const email = event.target.getAttribute('data-email');
                const queryid = event.target.getAttribute('data-id');
                const replyId = event.target.getAttribute('data-reply');
                const reply = document.getElementById(replyId).value;

                try {
                    const response = await fetch('/admin/queries', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ action, queryid, email, reply }),
                    }).then(response => response.json())
                        .then(data => {

                            console.log('Response data:', data);
                            if (data) {
                                console.log(data.message)
                                Swal.fire({
                                    title: data.title,
                                    text: data.message,
                                    confirmButtonText: "OK",
                                    icon: data.icon
                                }).then((result) => {
                                    if (result.isConfirmed) {
                                        console.log("ll")
                                        window.location.reload(); // Replace with your desired URL
                                    }
                                });
                            } else {
                                console.error('Unexpected response format:', data);
                                Swal.fire({
                                    title: 'Error',
                                    text: 'Unexpected response format.',
                                    icon: 'error'
                                });
                            }
                        })

                } catch (error) {
                    console.error('There was a problem with the fetch operation:', error);

                    // Show error alert using SweetAlert
                    Swal.fire({
                        title: 'Error!',
                        text: `There was a problem performing the action ${action} for ${email}.`,
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            });
        });
    });
</script>

{{>footer}}